body {
    margin: 0px;
    background-image: url('/static/img/Jose\'s\ portfolio.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    height: 8000px;
}

h1 {
    color: red;
}